extends layout.pug

block content 
article.grid-container.portfolio-intro
  div
    p.lead.text-light
      form
        p
          label
          input
        p
          label
          input
        p
          label
          input
        p
          label
          input
        
